---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Icon } from 'astro-icon';
import { Image} from "@astrojs/image/components";

// import components

//import medias

import life_on_mars from "@images/life_on_mars.jpg";

---

<BaseLayout title="Welcome to Astro.">
	<main class="">
		<section
		aria-labelledby="hero-title"
		class="min-h-[90vh] mx-auto bg-transparent px-6 sm:px-8 md:px-12 lg:px-16 2xl:px-24 pt-0 pb-14 md:py-14 lg:py-24"
	>
		<div class="container mx-auto">
			<div
				class="Hero--wrapper h-full grid gap-6 md:grid-cols-2"
			>
				<article class="title">
					<p class="text-orange-800">Your space travel  agency</p>
					<h1 class="grid text-5xl md:text:6xl lg:text:7xl 2xl:text-8xl tracking-wide mt-2 mb-4 2xl:mb-12 text-orange-500 font-bold">To infinity and beyond</h1>
				</article>

				<div class="relative img-wrapper overflow-hidden rounded-xl md:col-start-2 md:row-start-1 md:row-span-3">
					<Image
						src={life_on_mars}
						alt="Outside the spaceship after landing"
						class="hero-image h-full w-full object-cover aspect-[3/2]"
						format= "webp"
					/>
				</div>
			 
				<p class="text-lg md:text-xl font-medium md:col-start-1 md:col-span-1 md:row-start-2 ">
					Poke woke pinterest, cliche pork belly yuccie etsy vice DIY vibecession church-key. Kogi gorpcore meggings, schlitz cliche af glossier. 
				</p>
				<div class="CTA space-y-5 lg:space-x-8">
					<button class="border-2 p-3 lg:mt-14" role="button">
						<a href="tel:+339213487" title="" class="inline-flex items-center text-xs md:text-sm uppercase">
							ready to go!
							<Icon name="ph:rocket-duotone" class="ml-2 w-6 group-hover:text-white " />
						</a>
					</button>
					<button class="border-2 group">
						<a href="/#coachingsPrev" title="" class="p-3 inline-flex items-center" >
							Need more info
							<Icon name="ph:arrow-circle-right-duotone" class="ml-2 w-6 text-accent group-hover:text-white text-xs md:text-sm uppercase" />
						</a>
					</button>
				</div>
			</div>
			
		</div>
	</section>
		
	</main>
</BaseLayout>